.page-about {
  .page-header {
    background: url(../../src/img/_commons/about_background.jpg) no-repeat;
  }

  .contact {

    &-wrapper {
      margin-top: 150px;
      display: flex;
      justify-content: center;
    }

    &-item {
      position: relative;
      width: 300px;
      text-align: center;
      margin: 0 15px;
    }

    &-icon {
      display: block;
      margin: 10px auto;
      height: 40px;
    }

    &-link {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
