.page-home {

  .page-header {
    background: url(../img/home_background.jpg) no-repeat;
  }

  .posts {

    .post {
      position: relative;
      width: 100%;
      height: 300px;
      margin: 40px 0;
      overflow: hidden;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.5);
      }

      &-image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;
        @include background-cover();
        transition: transform 1s $easeInOutQuad;
      }

      &-infos {
        @include center();
        text-align: center;
      }

      &-title {
        color: $white;
        font-size: 36px;
        text-shadow: 2px 2px 5px #000;
      }

      &-link {
        position: absolute;
        bottom: 25px;
        right: 25px;
        padding: 10px 25px;
        border: 2px solid $white-mid-opacity;
        color: $white-mid-opacity;
        transition: all 0.5s $easeInOutQuad;

        &:hover {
          border-color: $white;
          color: $white;
        }
      }

      &-date {
        font-size: 12px;
        font-style: italic;
        color: $white-mid-opacity;
        letter-spacing: 1px;
      }

      &:hover {
        .post {
          &-image {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
