.page-home {
  background: url(https://media.giphy.com/media/3oAt1OlUKM1flwPz1K/giphy.gif) no-repeat;
  @include background-cover();

  .titles {
    @include center();
    z-index: 0;
  }

  .title, .subtitle {
    display: inline-block;
  }

  .title {
    font-size: 200px;
  }

  .subtitle {
    font-weight: 100;
    font-size: 100px;
  }

  #canvas {
    z-index: 20;
  }
}
