.page-inspirations {
  margin-top: 100px;

  .inspirations {

    &-list {
      margin-top: 50px;
    }

    &-item {
      margin-bottom: 40px;
    }

    &-title {
      margin-bottom: 20px;
    }

    &-img {
      width: 100%;
    }
  }
}
